{
  "dns_servers": [],
  "log_file": "",
  "pac_url": "http://proxy.corp.local/proxy.pac",
  "upstream_proxy": "",
  "filter_mode": "whitelist",
  "allowed_domains": [
    "*.windowsupdate.com",
    "*.windowsupdate.microsoft.com",
    "*.update.microsoft.com",
    "*.delivery.mp.microsoft.com",
    "*.download.windowsupdate.com",
    "*.download.microsoft.com",
    "*.wns.windows.com",
    "*.msftconnecttest.com",
    "*.microsoft.com",
    "ubuntu.com",
    "*.ubuntu.com",
    "canonical.com",
    "*.canonical.com",
    "debian.org",
    "*.debian.org",
    "alpinelinux.org",
    "*.alpinelinux.org",
    "redhat.com",
    "*.redhat.com",
    "fedoraproject.org",
    "*.fedoraproject.org",
    "archlinux.org",
    "*.archlinux.org",

    "github.com",
    "*.github.com",
    "*.githubusercontent.com",
    "*.githubassets.com",
    "*.github.io",
    "gitlab.com",
    "*.gitlab.com",
    "bitbucket.org",
    "*.bitbucket.org",
    "atlassian.com",
    "*.atlassian.com",
    "codeberg.org",
    "*.codeberg.org",
    "git-scm.com",
    "*.git-scm.com",

    "go.dev",
    "*.go.dev",
    "golang.org",
    "*.golang.org",

    "nodejs.org",
    "*.nodejs.org",
    "npmjs.com",
    "*.npmjs.com",
    "npmjs.org",
    "*.npmjs.org",
    "registry.yarnpkg.com",
    "yarnpkg.com",
    "*.yarnpkg.com",
    "deno.land",
    "*.deno.land",
    "bun.sh",
    "*.bun.sh",
    "typescriptlang.org",
    "*.typescriptlang.org",

    "python.org",
    "*.python.org",
    "pypi.org",
    "*.pypi.org",
    "pythonhosted.org",
    "*.pythonhosted.org",
    "anaconda.com",
    "*.anaconda.com",
    "conda.io",
    "*.conda.io",

    "rust-lang.org",
    "*.rust-lang.org",
    "crates.io",
    "*.crates.io",

    "oracle.com",
    "*.oracle.com",
    "adoptium.net",
    "*.adoptium.net",
    "maven.org",
    "*.maven.org",
    "gradle.org",
    "*.gradle.org",
    "kotlinlang.org",
    "*.kotlinlang.org",
    "apache.org",
    "*.apache.org",

    "nuget.org",
    "*.nuget.org",
    "dotnet.microsoft.com",
    "*.dotnet.microsoft.com",

    "isocpp.org",
    "*.isocpp.org",
    "vcpkg.io",
    "*.vcpkg.io",
    "conan.io",
    "*.conan.io",

    "php.net",
    "*.php.net",
    "getcomposer.org",
    "*.getcomposer.org",
    "packagist.org",
    "*.packagist.org",

    "ruby-lang.org",
    "*.ruby-lang.org",
    "rubygems.org",
    "*.rubygems.org",

    "flutter.dev",
    "*.flutter.dev",
    "dart.dev",
    "*.dart.dev",
    "pub.dev",
    "*.pub.dev",

    "swift.org",
    "*.swift.org",

    "docker.com",
    "*.docker.com",
    "docker.io",
    "*.docker.io",
    "ghcr.io",
    "quay.io",
    "*.quay.io",
    "gcr.io",
    "*.gcr.io",
    "kubernetes.io",
    "*.kubernetes.io",
    "k8s.io",
    "*.k8s.io",
    "helm.sh",
    "*.helm.sh",
    "cncf.io",
    "*.cncf.io",
    "terraform.io",
    "*.terraform.io",
    "hashicorp.com",
    "*.hashicorp.com",

    "aws.amazon.com",
    "*.amazonaws.com",
    "google.com",
    "*.google.com",
    "*.googleapis.com",
    "*.gstatic.com",
    "cloud.google.com",
    "*.azure.com",
    "*.azurewebsites.net",
    "*.core.windows.net",
    "cloudflare.com",
    "*.cloudflare.com",
    "*.cloudflare-dns.com",

    "visualstudio.com",
    "*.visualstudio.com",
    "vscode.dev",
    "*.vscode.dev",
    "jetbrains.com",
    "*.jetbrains.com",
    "postman.com",
    "*.postman.com",
    "getpostman.com",
    "*.getpostman.com",

    "stackoverflow.com",
    "*.stackoverflow.com",
    "stackexchange.com",
    "*.stackexchange.com",
    "developer.mozilla.org",
    "mozilla.org",
    "*.mozilla.org",
    "w3.org",
    "*.w3.org",
    "ietf.org",
    "*.ietf.org",
    "devdocs.io"
  ],
  "allowed_ips": [
    "127.0.0.1",
    "::1",
    "10.0.0.0/8",
    "172.16.0.0/12",
    "192.168.0.0/16",
    "fe80::/10"
  ],
  "blocked_domains": [
    "*.example-blocked.com",
    "badsite.example.org"
  ],
  "blocked_ips": [
    "198.51.100.25",
    "203.0.113.0/24"
  ]
}
